<a href="https://colab.research.google.com/github/ShaD971/init-Spark-ML/blob/main/Initiation_Spark_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mise à jour des paquets et installation de Java 8
!apt-get update -q

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,375 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,125 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [110 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [35.0 kB]
Fetched 3,986 kB in 3s (1,242 kB/s)
Reading package lists...

In [2]:
!apt-get install -y openjdk-8-jdk-headless -qq > /dev/null

In [3]:
# Téléchargement et extraction de Spark
!wget -q http://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [4]:
# Vérifiez le contenu du répertoire Spark
!ls /content/spark-3.1.2-bin-hadoop2.7

bin   data	jars	    LICENSE   NOTICE  R		 RELEASE  yarn
conf  examples	kubernetes  licenses  python  README.md  sbin

In [5]:
# Installation de findspark
!pip install -q findspark

# Configuration des variables d'environnement
import os
import findspark

In [6]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"
findspark.init()

In [7]:
# Vérifiez la présence de py4j
!ls /content/spark-3.1.2-bin-hadoop2.7/python/lib

py4j-0.10.9-src.zip  PY4J_LICENSE.txt  pyspark.zip

In [8]:
# Initialisation de SparkSession et SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# Configuration de Spark
conf = SparkConf().setAppName("myApp").setMaster("local[*]")

# Initialisation de SparkContext avec getOrCreate
sc = SparkContext.getOrCreate(conf=conf)

# Création de SparkSession
spark = SparkSession.builder.config(conf=conf).getOrCreate()

# Vérification de SparkContext et SparkSession
print(sc)
print(sc.version)
print(spark)

<SparkContext master=local[*] appName=myApp>
3.1.2
<pyspark.sql.session.SparkSession object at 0x7bb81cf21e40>

In [9]:
sc

DATAFRAME

In [10]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [11]:
shema = StructType().add("UUID" , "string").add("metier", "string").add("villes" , "string").add("Adress" , "string").add("CP" , "string").add("age" , "string").add("genre" , "string")

In [13]:
df= spark.createDataFrame([("U122", "Ingenieur" , "Paris" , "Rue Victor Hugo", "75001", 85, "Homme"),("U124", "Ingenieur" , "Lyon" , "Rue Houdet", "75001", 55, "Femme"),("U123", "Ingenieur" , "Melun" , "Rue Marcel Hugo", "75001", 85, "Homme")])

In [14]:
df.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)
 |-- _7: string (nullable = true)

In [15]:
df.show()

+----+---------+-----+---------------+-----+---+-----+
|  _1|       _2|   _3|             _4|   _5| _6|   _7|
+----+---------+-----+---------------+-----+---+-----+
|U122|Ingenieur|Paris|Rue Victor Hugo|75001| 85|Homme|
|U124|Ingenieur| Lyon|     Rue Houdet|75001| 55|Femme|
|U123|Ingenieur|Melun|Rue Marcel Hugo|75001| 85|Homme|
+----+---------+-----+---------------+-----+---+-----+

In [18]:
from google.colab import files
files.upload()

Saving 03_03_data.csv to 03_03_data (1).csv

{'03_03_data (1).csv': b'Pays;2005;2006;2007;2008;2009;2010;2011;2012;2013;2014;2015;2016;2017;2018\r\nAllemagne;7,20;8,50;10,10;10,10;10,90;11,70;12,50;13,60;13,80;14,40;14,90;14,90;15,50;16,50\r\nAutriche;24,40;26,30;28,20;28,90;31,00;31,20;31,60;32,70;32,80;33,70;33,50;33,40;33,10;33,40\r\nBelgique;2,30;2,60;3,10;3,60;4,70;5,60;6,30;7,20;7,50;8,00;8,00;8,70;9,10;9,40\r\nBulgarie;9,20;9,40;9,10;10,30;12,00;13,90;14,20;15,80;18,90;18,10;18,30;18,80;18,70;20,50\r\nChypre;3,10;3,30;4,00;5,10;5,90;6,20;6,30;7,10;8,50;9,20;9,90;9,90;10,50;13,90\r\nCroatie;23,70;22,70;22,20;22,00;23,60;25,10;25,40;26,80;28,00;27,80;29,00;28,30;27,30;28,00\r\nDanemark;16,00;16,30;17,70;18,50;20,00;21,90;23,40;25,50;27,20;29,30;30,80;31,80;34,70;35,70\r\nEspagne;8,40;9,10;9,70;10,70;13,00;13,80;13,20;14,30;15,30;16,10;16,20;17,40;17,60;17,50\r\nEstonie;17,40;16,00;17,00;18,60;22,90;24,60;25,30;25,50;25,30;26,10;28,20;28,70;29,10;30,00\r\nFinlande;28,80;30,10;29,60;31,40;31,30;32,40;32,80;34,40;36,70;38,80;39,30;39,00;40,90;41,20\r\nFrance;9,60;9,30;10,20;11,20;12,20;12,70;(1) 12,7;13,40;14,00;14,60;15,00;15,70;16,00;16,60\r\nGr\xe8ce;7,30;7,50;8,20;8,20;8,70;10,10;11,20;13,70;15,30;15,70;15,70;15,40;17,00;18,00\r\nHongrie;6,90;7,40;8,60;8,60;11,70;12,70;14,00;15,50;16,20;14,60;14,50;14,30;13,50;12,50\r\nIrlande;2,80;3,00;3,50;3,90;5,20;5,70;6,60;7,10;7,60;8,60;9,10;9,30;10,60;11,10\r\nItalie;7,50;8,30;9,80;11,50;12,80;13,00;12,90;15,40;16,70;17,10;17,50;17,40;18,30;17,80\r\nLettonie;32,30;31,10;29,60;29,80;34,30;30,40;33,50;35,70;37,00;38,60;37,50;37,10;39,00;40,30\r\nLituanie;16,80;16,90;16,50;17,80;19,80;19,60;19,90;21,40;22,70;23,60;25,80;25,60;26,00;24,40\r\nLuxembourg;1,40;1,50;2,70;2,80;2,90;2,90;2,90;3,10;3,50;4,50;5,10;5,40;6,30;9,10\r\nMalte;0,10;0,10;0,20;0,20;0,20;1,00;1,90;2,90;3,80;4,70;5,10;6,20;7,30;8,00\r\nPays-Bas;2,50;2,80;3,30;3,60;4,30;3,90;4,50;4,70;4,70;5,40;5,70;5,80;6,50;7,40\r\nPologne;6,90;6,90;6,90;7,70;8,70;9,30;10,30;10,90;11,40;11,50;11,70;11,30;11,00;11,30\r\nPortugal;19,50;20,80;21,90;22,90;24,40;24,20;24,60;24,60;25,70;29,50;30,50;30,90;30,60;30,30\r\nR\xe9publique tch\xe8que;7,10;7,40;7,90;8,70;10,00;10,50;10,90;12,80;13,90;15,10;15,10;14,90;14,80;15,20\r\nRoumanie;17,60;17,10;18,20;20,20;22,20;22,80;21,20;22,80;23,90;24,80;24,80;25,00;24,50;23,90\r\nRoyaume-Uni;1,10;1,30;1,60;2,70;3,30;3,80;4,30;4,40;5,50;6,70;8,30;9,00;9,70;11,00\r\nSlovaquie;6,40;6,60;7,80;7,70;9,40;9,10;10,30;10,50;10,10;11,70;12,90;12,00;11,50;11,90\r\nSlov\xe9nie;16,00;15,60;15,60;15,00;20,10;20,40;20,30;20,80;22,40;21,50;21,90;21,30;21,10;21,10\r\nSu\xe8de;40,70;42,40;43,90;44,70;47,90;47,00;48,20;50,20;50,80;51,90;53,00;53,40;54,20;54,60\r\n'}

In [20]:
df = spark.read.option("delimiter" , ";").csv("03_03_data.csv", header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [21]:
df.show(30)#moyenne de la consomation de 20

+------------------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
|              Pays| 2005| 2006| 2007| 2008| 2009| 2010|    2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+------------------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
|         Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|   12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
|          Autriche|24,40|26,30|28,20|28,90|31,00|31,20|   31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|          Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60|    6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
|          Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|   14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|            Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20|    6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|           Croatie|23,70|22,70|22,20|22,00|23,60|25,10|   25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
|          Danemark|16,00|16,30|17,70|18,50|20,00|21,90|   23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|           Espagne| 8,40| 9,10| 9,70|10,70|13,00|13,80|   13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|
|           Estonie|17,40|16,00|17,00|18,60|22,90|24,60|   25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
|          Finlande|28,80|30,10|29,60|31,40|31,30|32,40|   32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
|            France| 9,60| 9,30|10,20|11,20|12,20|12,70|(1) 12,7|13,40|14,00|14,60|15,00|15,70|16,00|16,60|
|             Gr�ce| 7,30| 7,50| 8,20| 8,20| 8,70|10,10|   11,20|13,70|15,30|15,70|15,70|15,40|17,00|18,00|
|           Hongrie| 6,90| 7,40| 8,60| 8,60|11,70|12,70|   14,00|15,50|16,20|14,60|14,50|14,30|13,50|12,50|
|           Irlande| 2,80| 3,00| 3,50| 3,90| 5,20| 5,70|    6,60| 7,10| 7,60| 8,60| 9,10| 9,30|10,60|11,10|
|            Italie| 7,50| 8,30| 9,80|11,50|12,80|13,00|   12,90|15,40|16,70|17,10|17,50|17,40|18,30|17,80|
|          Lettonie|32,30|31,10|29,60|29,80|34,30|30,40|   33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|          Lituanie|16,80|16,90|16,50|17,80|19,80|19,60|   19,90|21,40|22,70|23,60|25,80|25,60|26,00|24,40|
|        Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90| 2,90|    2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|             Malte| 0,10| 0,10| 0,20| 0,20| 0,20| 1,00|    1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|          Pays-Bas| 2,50| 2,80| 3,30| 3,60| 4,30| 3,90|    4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
|           Pologne| 6,90| 6,90| 6,90| 7,70| 8,70| 9,30|   10,30|10,90|11,40|11,50|11,70|11,30|11,00|11,30|
|          Portugal|19,50|20,80|21,90|22,90|24,40|24,20|   24,60|24,60|25,70|29,50|30,50|30,90|30,60|30,30|
|R�publique tch�que| 7,10| 7,40| 7,90| 8,70|10,00|10,50|   10,90|12,80|13,90|15,10|15,10|14,90|14,80|15,20|
|          Roumanie|17,60|17,10|18,20|20,20|22,20|22,80|   21,20|22,80|23,90|24,80|24,80|25,00|24,50|23,90|
|       Royaume-Uni| 1,10| 1,30| 1,60| 2,70| 3,30| 3,80|    4,30| 4,40| 5,50| 6,70| 8,30| 9,00| 9,70|11,00|
|         Slovaquie| 6,40| 6,60| 7,80| 7,70| 9,40| 9,10|   10,30|10,50|10,10|11,70|12,90|12,00|11,50|11,90|
|          Slov�nie|16,00|15,60|15,60|15,00|20,10|20,40|   20,30|20,80|22,40|21,50|21,90|21,30|21,10|21,10|
|             Su�de|40,70|42,40|43,90|44,70|47,90|47,00|   48,20|50,20|50,80|51,90|53,00|53,40|54,20|54,60|
+------------------+-----+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+

In [22]:
df.count()

28

In [24]:
len(df.columns)

15

In [ ]:
df.take()

In [25]:
df.take(2)

[Row(Pays='Allemagne', 2005='7,20', 2006='8,50', 2007='10,10', 2008='10,10', 2009='10,90', 2010='11,70', 2011='12,50', 2012='13,60', 2013='13,80', 2014='14,40', 2015='14,90', 2016='14,90', 2017='15,50', 2018='16,50'),
 Row(Pays='Autriche', 2005='24,40', 2006='26,30', 2007='28,20', 2008='28,90', 2009='31,00', 2010='31,20', 2011='31,60', 2012='32,70', 2013='32,80', 2014='33,70', 2015='33,50', 2016='33,40', 2017='33,10', 2018='33,40')]

In [27]:
df.collect()

[Row(Pays='Allemagne', 2005='7,20', 2006='8,50', 2007='10,10', 2008='10,10', 2009='10,90', 2010='11,70', 2011='12,50', 2012='13,60', 2013='13,80', 2014='14,40', 2015='14,90', 2016='14,90', 2017='15,50', 2018='16,50'),
 Row(Pays='Autriche', 2005='24,40', 2006='26,30', 2007='28,20', 2008='28,90', 2009='31,00', 2010='31,20', 2011='31,60', 2012='32,70', 2013='32,80', 2014='33,70', 2015='33,50', 2016='33,40', 2017='33,10', 2018='33,40'),
 Row(Pays='Belgique', 2005='2,30', 2006='2,60', 2007='3,10', 2008='3,60', 2009='4,70', 2010='5,60', 2011='6,30', 2012='7,20', 2013='7,50', 2014='8,00', 2015='8,00', 2016='8,70', 2017='9,10', 2018='9,40'),
 Row(Pays='Bulgarie', 2005='9,20', 2006='9,40', 2007='9,10', 2008='10,30', 2009='12,00', 2010='13,90', 2011='14,20', 2012='15,80', 2013='18,90', 2014='18,10', 2015='18,30', 2016='18,80', 2017='18,70', 2018='20,50'),
 Row(Pays='Chypre', 2005='3,10', 2006='3,30', 2007='4,00', 2008='5,10', 2009='5,90', 2010='6,20', 2011='6,30', 2012='7,10', 2013='8,50', 2014='9,20', 2015='9,90', 2016='9,90', 2017='10,50', 2018='13,90'),
 Row(Pays='Croatie', 2005='23,70', 2006='22,70', 2007='22,20', 2008='22,00', 2009='23,60', 2010='25,10', 2011='25,40', 2012='26,80', 2013='28,00', 2014='27,80', 2015='29,00', 2016='28,30', 2017='27,30', 2018='28,00'),
 Row(Pays='Danemark', 2005='16,00', 2006='16,30', 2007='17,70', 2008='18,50', 2009='20,00', 2010='21,90', 2011='23,40', 2012='25,50', 2013='27,20', 2014='29,30', 2015='30,80', 2016='31,80', 2017='34,70', 2018='35,70'),
 Row(Pays='Espagne', 2005='8,40', 2006='9,10', 2007='9,70', 2008='10,70', 2009='13,00', 2010='13,80', 2011='13,20', 2012='14,30', 2013='15,30', 2014='16,10', 2015='16,20', 2016='17,40', 2017='17,60', 2018='17,50'),
 Row(Pays='Estonie', 2005='17,40', 2006='16,00', 2007='17,00', 2008='18,60', 2009='22,90', 2010='24,60', 2011='25,30', 2012='25,50', 2013='25,30', 2014='26,10', 2015='28,20', 2016='28,70', 2017='29,10', 2018='30,00'),
 Row(Pays='Finlande', 2005='28,80', 2006='30,10', 2007='29,60', 2008='31,40', 2009='31,30', 2010='32,40', 2011='32,80', 2012='34,40', 2013='36,70', 2014='38,80', 2015='39,30', 2016='39,00', 2017='40,90', 2018='41,20'),
 Row(Pays='France', 2005='9,60', 2006='9,30', 2007='10,20', 2008='11,20', 2009='12,20', 2010='12,70', 2011='(1) 12,7', 2012='13,40', 2013='14,00', 2014='14,60', 2015='15,00', 2016='15,70', 2017='16,00', 2018='16,60'),
 Row(Pays='Gr�ce', 2005='7,30', 2006='7,50', 2007='8,20', 2008='8,20', 2009='8,70', 2010='10,10', 2011='11,20', 2012='13,70', 2013='15,30', 2014='15,70', 2015='15,70', 2016='15,40', 2017='17,00', 2018='18,00'),
 Row(Pays='Hongrie', 2005='6,90', 2006='7,40', 2007='8,60', 2008='8,60', 2009='11,70', 2010='12,70', 2011='14,00', 2012='15,50', 2013='16,20', 2014='14,60', 2015='14,50', 2016='14,30', 2017='13,50', 2018='12,50'),
 Row(Pays='Irlande', 2005='2,80', 2006='3,00', 2007='3,50', 2008='3,90', 2009='5,20', 2010='5,70', 2011='6,60', 2012='7,10', 2013='7,60', 2014='8,60', 2015='9,10', 2016='9,30', 2017='10,60', 2018='11,10'),
 Row(Pays='Italie', 2005='7,50', 2006='8,30', 2007='9,80', 2008='11,50', 2009='12,80', 2010='13,00', 2011='12,90', 2012='15,40', 2013='16,70', 2014='17,10', 2015='17,50', 2016='17,40', 2017='18,30', 2018='17,80'),
 Row(Pays='Lettonie', 2005='32,30', 2006='31,10', 2007='29,60', 2008='29,80', 2009='34,30', 2010='30,40', 2011='33,50', 2012='35,70', 2013='37,00', 2014='38,60', 2015='37,50', 2016='37,10', 2017='39,00', 2018='40,30'),
 Row(Pays='Lituanie', 2005='16,80', 2006='16,90', 2007='16,50', 2008='17,80', 2009='19,80', 2010='19,60', 2011='19,90', 2012='21,40', 2013='22,70', 2014='23,60', 2015='25,80', 2016='25,60', 2017='26,00', 2018='24,40'),
 Row(Pays='Luxembourg', 2005='1,40', 2006='1,50', 2007='2,70', 2008='2,80', 2009='2,90', 2010='2,90', 2011='2,90', 2012='3,10', 2013='3,50', 2014='4,50', 2015='5,10', 2016='5,40', 2017='6,30', 2018='9,10'),
 Row(Pays='Malte', 2005='0,10', 2006='0,10', 2007='0,20', 2008='0,20', 2009='0,20', 2010='1,00', 2011='1,90', 2012='2,90', 2013='3,80', 2014='4,70', 2015='5,10', 2016='6,20', 2017='7,30', 2018='8,00'),
 Row(Pays='Pays-Bas', 2005='2,50', 2006='2,80', 2007='3,30', 2008='3,60', 2009='4,30', 2010='3,90', 2011='4,50', 2012='4,70', 2013='4,70', 2014='5,40', 2015='5,70', 2016='5,80', 2017='6,50', 2018='7,40'),
 Row(Pays='Pologne', 2005='6,90', 2006='6,90', 2007='6,90', 2008='7,70', 2009='8,70', 2010='9,30', 2011='10,30', 2012='10,90', 2013='11,40', 2014='11,50', 2015='11,70', 2016='11,30', 2017='11,00', 2018='11,30'),
 Row(Pays='Portugal', 2005='19,50', 2006='20,80', 2007='21,90', 2008='22,90', 2009='24,40', 2010='24,20', 2011='24,60', 2012='24,60', 2013='25,70', 2014='29,50', 2015='30,50', 2016='30,90', 2017='30,60', 2018='30,30'),
 Row(Pays='R�publique tch�que', 2005='7,10', 2006='7,40', 2007='7,90', 2008='8,70', 2009='10,00', 2010='10,50', 2011='10,90', 2012='12,80', 2013='13,90', 2014='15,10', 2015='15,10', 2016='14,90', 2017='14,80', 2018='15,20'),
 Row(Pays='Roumanie', 2005='17,60', 2006='17,10', 2007='18,20', 2008='20,20', 2009='22,20', 2010='22,80', 2011='21,20', 2012='22,80', 2013='23,90', 2014='24,80', 2015='24,80', 2016='25,00', 2017='24,50', 2018='23,90'),
 Row(Pays='Royaume-Uni', 2005='1,10', 2006='1,30', 2007='1,60', 2008='2,70', 2009='3,30', 2010='3,80', 2011='4,30', 2012='4,40', 2013='5,50', 2014='6,70', 2015='8,30', 2016='9,00', 2017='9,70', 2018='11,00'),
 Row(Pays='Slovaquie', 2005='6,40', 2006='6,60', 2007='7,80', 2008='7,70', 2009='9,40', 2010='9,10', 2011='10,30', 2012='10,50', 2013='10,10', 2014='11,70', 2015='12,90', 2016='12,00', 2017='11,50', 2018='11,90'),
 Row(Pays='Slov�nie', 2005='16,00', 2006='15,60', 2007='15,60', 2008='15,00', 2009='20,10', 2010='20,40', 2011='20,30', 2012='20,80', 2013='22,40', 2014='21,50', 2015='21,90', 2016='21,30', 2017='21,10', 2018='21,10'),
 Row(Pays='Su�de', 2005='40,70', 2006='42,40', 2007='43,90', 2008='44,70', 2009='47,90', 2010='47,00', 2011='48,20', 2012='50,20', 2013='50,80', 2014='51,90', 2015='53,00', 2016='53,40', 2017='54,20', 2018='54,60')]

In [28]:
df.toPandas()#affiche le datframe Pandas

,Pays,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Allemagne,"7,20","8,50","10,10","10,10","10,90","11,70","12,50","13,60","13,80","14,40","14,90","14,90","15,50","16,50"
1,Autriche,"24,40","26,30","28,20","28,90","31,00","31,20","31,60","32,70","32,80","33,70","33,50","33,40","33,10","33,40"
2,Belgique,"2,30","2,60","3,10","3,60","4,70","5,60","6,30","7,20","7,50","8,00","8,00","8,70","9,10","9,40"
3,Bulgarie,"9,20","9,40","9,10","10,30","12,00","13,90","14,20","15,80","18,90","18,10","18,30","18,80","18,70","20,50"
4,Chypre,"3,10","3,30","4,00","5,10","5,90","6,20","6,30","7,10","8,50","9,20","9,90","9,90","10,50","13,90"
5,Croatie,"23,70","22,70","22,20","22,00","23,60","25,10","25,40","26,80","28,00","27,80","29,00","28,30","27,30","28,00"
6,Danemark,"16,00","16,30","17,70","18,50","20,00","21,90","23,40","25,50","27,20","29,30","30,80","31,80","34,70","35,70"
7,Espagne,"8,40","9,10","9,70","10,70","13,00","13,80","13,20","14,30","15,30","16,10","16,20","17,40","17,60","17,50"
8,Estonie,"17,40","16,00","17,00","18,60","22,90","24,60","25,30","25,50","25,30","26,10","28,20","28,70","29,10","30,00"
9,Finlande,"28,80","30,10","29,60","31,40","31,30","32,40","32,80","34,40","36,70","38,80","39,30","39,00","40,90","41,20"
10,France,"9,60","9,30","10,20","11,20","12,20","12,70","(1) 12,7","13,40","14,00","14,60","15,00","15,70","16,00","16,60"
11,Gr�ce,"7,30","7,50","8,20","8,20","8,70","10,10","11,20","13,70","15,30","15,70","15,70","15,40","17,00","18,00"
12,Hongrie,"6,90","7,40","8,60","8,60","11,70","12,70","14,00","15,50","16,20","14,60","14,50","14,30","13,50","12,50"
13,Irlande,"2,80","3,00","3,50","3,90","5,20","5,70","6,60","7,10","7,60","8,60","9,10","9,30","10,60","11,10"
14,Italie,"7,50","8,30","9,80","11,50","12,80","13,00","12,90","15,40","16,70","17,10","17,50","17,40","18,30","17,80"
15,Lettonie,"32,30","31,10","29,60","29,80","34,30","30,40","33,50","35,70","37,00","38,60","37,50","37,10","39,00","40,30"
16,Lituanie,"16,80","16,90","16,50","17,80","19,80","19,60","19,90","21,40","22,70","23,60","25,80","25,60","26,00","24,40"
17,Luxembourg,"1,40","1,50","2,70","2,80","2,90","2,90","2,90","3,10","3,50","4,50","5,10","5,40","6,30","9,10"
18,Malte,"0,10","0,10","0,20","0,20","0,20","1,00","1,90","2,90","3,80","4,70","5,10","6,20","7,30","8,00"
19,Pays-Bas,"2,50","2,80","3,30","3,60","4,30","3,90","4,50","4,70","4,70","5,40","5,70","5,80","6,50","7,40"
20,Pologne,"6,90","6,90","6,90","7,70","8,70","9,30","10,30","10,90","11,40","11,50","11,70","11,30","11,00","11,30"
21,Portugal,"19,50","20,80","21,90","22,90","24,40","24,20","24,60","24,60","25,70","29,50","30,50","30,90","30,60","30,30"
22,R�publique tch�que,"7,10","7,40","7,90","8,70","10,00","10,50","10,90","12,80","13,90","15,10","15,10","14,90","14,80","15,20"
23,Roumanie,"17,60","17,10","18,20","20,20","22,20","22,80","21,20","22,80","23,90","24,80","24,80","25,00","24,50","23,90"
24,Royaume-Uni,"1,10","1,30","1,60","2,70","3,30","3,80","4,30","4,40","5,50","6,70","8,30","9,00","9,70","11,00"
25,Slovaquie,"6,40","6,60","7,80","7,70","9,40","9,10","10,30","10,50","10,10","11,70","12,90","12,00","11,50","11,90"
26,Slov�nie,"16,00","15,60","15,60","15,00","20,10","20,40","20,30","20,80","22,40","21,50","21,90","21,30","21,10","21,10"
27,Su�de,"40,70","42,40","43,90","44,70","47,90","47,00","48,20","50,20","50,80","51,90","53,00","53,40","54,20","54,60"

In [29]:
df = spark.read.option("delimiter" , ";").csv("03_03_data.csv", header=True)# recupere les donnees du csv
df.show(10)

+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|     Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
| Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
| Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
| Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|   Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|  Croatie|23,70|22,70|22,20|22,00|23,60|25,10|25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
| Danemark|16,00|16,30|17,70|18,50|20,00|21,90|23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|  Espagne| 8,40| 9,10| 9,70|10,70|13,00|13,80|13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|
|  Estonie|17,40|16,00|17,00|18,60|22,90|24,60|25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
| Finlande|28,80|30,10|29,60|31,40|31,30|32,40|32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 10 rows

In [31]:
df.select("2006").show(5)#affiche les 5 premier ligne de la colone 2006

+-----+
| 2006|
+-----+
| 8,50|
|26,30|
| 2,60|
| 9,40|
| 3,30|
+-----+
only showing top 5 rows

In [32]:
df.select("2005", "2006", "2007","2008").show(5)

+-----+-----+-----+-----+
| 2005| 2006| 2007| 2008|
+-----+-----+-----+-----+
| 7,20| 8,50|10,10|10,10|
|24,40|26,30|28,20|28,90|
| 2,30| 2,60| 3,10| 3,60|
| 9,20| 9,40| 9,10|10,30|
| 3,10| 3,30| 4,00| 5,10|
+-----+-----+-----+-----+
only showing top 5 rows

In [35]:
from pyspark.sql.functions import lit

df_2024 = df.withColumn("2024", lit(1))#lit ajout une valeur
df_2024.show(10)

+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
|     Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|2024|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
|Allemagne| 7,20| 8,50|10,10|10,10|10,90|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|   1|
| Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|   1|
| Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|   1|
| Bulgarie| 9,20| 9,40| 9,10|10,30|12,00|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|   1|
|   Chypre| 3,10| 3,30| 4,00| 5,10| 5,90| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|   1|
|  Croatie|23,70|22,70|22,20|22,00|23,60|25,10|25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|   1|
| Danemark|16,00|16,30|17,70|18,50|20,00|21,90|23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|   1|
|  Espagne| 8,40| 9,10| 9,70|10,70|13,00|13,80|13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|   1|
|  Estonie|17,40|16,00|17,00|18,60|22,90|24,60|25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|   1|
| Finlande|28,80|30,10|29,60|31,40|31,30|32,40|32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|   1|
+---------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+----+
only showing top 10 rows

In [36]:
df_new = df.drop("2009")
df_new.show()

+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
|      Pays| 2005| 2006| 2007| 2008| 2010|    2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
| Allemagne| 7,20| 8,50|10,10|10,10|11,70|   12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
|  Autriche|24,40|26,30|28,20|28,90|31,20|   31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|  Belgique| 2,30| 2,60| 3,10| 3,60| 5,60|    6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
|  Bulgarie| 9,20| 9,40| 9,10|10,30|13,90|   14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|    Chypre| 3,10| 3,30| 4,00| 5,10| 6,20|    6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|   Croatie|23,70|22,70|22,20|22,00|25,10|   25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
|  Danemark|16,00|16,30|17,70|18,50|21,90|   23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|   Espagne| 8,40| 9,10| 9,70|10,70|13,80|   13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|
|   Estonie|17,40|16,00|17,00|18,60|24,60|   25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
|  Finlande|28,80|30,10|29,60|31,40|32,40|   32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
|    France| 9,60| 9,30|10,20|11,20|12,70|(1) 12,7|13,40|14,00|14,60|15,00|15,70|16,00|16,60|
|     Gr�ce| 7,30| 7,50| 8,20| 8,20|10,10|   11,20|13,70|15,30|15,70|15,70|15,40|17,00|18,00|
|   Hongrie| 6,90| 7,40| 8,60| 8,60|12,70|   14,00|15,50|16,20|14,60|14,50|14,30|13,50|12,50|
|   Irlande| 2,80| 3,00| 3,50| 3,90| 5,70|    6,60| 7,10| 7,60| 8,60| 9,10| 9,30|10,60|11,10|
|    Italie| 7,50| 8,30| 9,80|11,50|13,00|   12,90|15,40|16,70|17,10|17,50|17,40|18,30|17,80|
|  Lettonie|32,30|31,10|29,60|29,80|30,40|   33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|  Lituanie|16,80|16,90|16,50|17,80|19,60|   19,90|21,40|22,70|23,60|25,80|25,60|26,00|24,40|
|Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90|    2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|     Malte| 0,10| 0,10| 0,20| 0,20| 1,00|    1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|  Pays-Bas| 2,50| 2,80| 3,30| 3,60| 3,90|    4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [38]:
df_filter = df_new.filter(df_new.Pays != "Belgique")
df_filter.show()

+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
|      Pays| 2005| 2006| 2007| 2008| 2010|    2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
| Allemagne| 7,20| 8,50|10,10|10,10|11,70|   12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
|  Autriche|24,40|26,30|28,20|28,90|31,20|   31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|  Bulgarie| 9,20| 9,40| 9,10|10,30|13,90|   14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|    Chypre| 3,10| 3,30| 4,00| 5,10| 6,20|    6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|   Croatie|23,70|22,70|22,20|22,00|25,10|   25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
|  Danemark|16,00|16,30|17,70|18,50|21,90|   23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|   Espagne| 8,40| 9,10| 9,70|10,70|13,80|   13,20|14,30|15,30|16,10|16,20|17,40|17,60|17,50|
|   Estonie|17,40|16,00|17,00|18,60|24,60|   25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
|  Finlande|28,80|30,10|29,60|31,40|32,40|   32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
|    France| 9,60| 9,30|10,20|11,20|12,70|(1) 12,7|13,40|14,00|14,60|15,00|15,70|16,00|16,60|
|     Gr�ce| 7,30| 7,50| 8,20| 8,20|10,10|   11,20|13,70|15,30|15,70|15,70|15,40|17,00|18,00|
|   Hongrie| 6,90| 7,40| 8,60| 8,60|12,70|   14,00|15,50|16,20|14,60|14,50|14,30|13,50|12,50|
|   Irlande| 2,80| 3,00| 3,50| 3,90| 5,70|    6,60| 7,10| 7,60| 8,60| 9,10| 9,30|10,60|11,10|
|    Italie| 7,50| 8,30| 9,80|11,50|13,00|   12,90|15,40|16,70|17,10|17,50|17,40|18,30|17,80|
|  Lettonie|32,30|31,10|29,60|29,80|30,40|   33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|  Lituanie|16,80|16,90|16,50|17,80|19,60|   19,90|21,40|22,70|23,60|25,80|25,60|26,00|24,40|
|Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90|    2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|     Malte| 0,10| 0,10| 0,20| 0,20| 1,00|    1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|  Pays-Bas| 2,50| 2,80| 3,30| 3,60| 3,90|    4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
|   Pologne| 6,90| 6,90| 6,90| 7,70| 9,30|   10,30|10,90|11,40|11,50|11,70|11,30|11,00|11,30|
+----------+-----+-----+-----+-----+-----+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

Supression des lignes de L'espagne jusqu'a  France

In [41]:
Pays_liste = ["Espagne", "Estonie", "Finlande","France"]
df_sans_ListePays = df_filter.filter(~df_filter.Pays.isin(Pays_liste))
df_sans_ListePays.show()

+------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|              Pays| 2005| 2006| 2007| 2008| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|         Allemagne| 7,20| 8,50|10,10|10,10|11,70|12,50|13,60|13,80|14,40|14,90|14,90|15,50|16,50|
|          Autriche|24,40|26,30|28,20|28,90|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|          Bulgarie| 9,20| 9,40| 9,10|10,30|13,90|14,20|15,80|18,90|18,10|18,30|18,80|18,70|20,50|
|            Chypre| 3,10| 3,30| 4,00| 5,10| 6,20| 6,30| 7,10| 8,50| 9,20| 9,90| 9,90|10,50|13,90|
|           Croatie|23,70|22,70|22,20|22,00|25,10|25,40|26,80|28,00|27,80|29,00|28,30|27,30|28,00|
|          Danemark|16,00|16,30|17,70|18,50|21,90|23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|             Gr�ce| 7,30| 7,50| 8,20| 8,20|10,10|11,20|13,70|15,30|15,70|15,70|15,40|17,00|18,00|
|           Hongrie| 6,90| 7,40| 8,60| 8,60|12,70|14,00|15,50|16,20|14,60|14,50|14,30|13,50|12,50|
|           Irlande| 2,80| 3,00| 3,50| 3,90| 5,70| 6,60| 7,10| 7,60| 8,60| 9,10| 9,30|10,60|11,10|
|            Italie| 7,50| 8,30| 9,80|11,50|13,00|12,90|15,40|16,70|17,10|17,50|17,40|18,30|17,80|
|          Lettonie|32,30|31,10|29,60|29,80|30,40|33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|          Lituanie|16,80|16,90|16,50|17,80|19,60|19,90|21,40|22,70|23,60|25,80|25,60|26,00|24,40|
|        Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90| 2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|             Malte| 0,10| 0,10| 0,20| 0,20| 1,00| 1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|          Pays-Bas| 2,50| 2,80| 3,30| 3,60| 3,90| 4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
|           Pologne| 6,90| 6,90| 6,90| 7,70| 9,30|10,30|10,90|11,40|11,50|11,70|11,30|11,00|11,30|
|          Portugal|19,50|20,80|21,90|22,90|24,20|24,60|24,60|25,70|29,50|30,50|30,90|30,60|30,30|
|R�publique tch�que| 7,10| 7,40| 7,90| 8,70|10,50|10,90|12,80|13,90|15,10|15,10|14,90|14,80|15,20|
|          Roumanie|17,60|17,10|18,20|20,20|22,80|21,20|22,80|23,90|24,80|24,80|25,00|24,50|23,90|
|       Royaume-Uni| 1,10| 1,30| 1,60| 2,70| 3,80| 4,30| 4,40| 5,50| 6,70| 8,30| 9,00| 9,70|11,00|
+------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

**Filtrer les pays dont la valeur en 2018 est supérieur a 30?**

In [43]:
df_filter_2018 = df.filter(df["2018"] >"30")
df_filter_2018.show()

+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|      Pays| 2005| 2006| 2007| 2008| 2009| 2010| 2011| 2012| 2013| 2014| 2015| 2016| 2017| 2018|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|  Autriche|24,40|26,30|28,20|28,90|31,00|31,20|31,60|32,70|32,80|33,70|33,50|33,40|33,10|33,40|
|  Belgique| 2,30| 2,60| 3,10| 3,60| 4,70| 5,60| 6,30| 7,20| 7,50| 8,00| 8,00| 8,70| 9,10| 9,40|
|  Danemark|16,00|16,30|17,70|18,50|20,00|21,90|23,40|25,50|27,20|29,30|30,80|31,80|34,70|35,70|
|   Estonie|17,40|16,00|17,00|18,60|22,90|24,60|25,30|25,50|25,30|26,10|28,20|28,70|29,10|30,00|
|  Finlande|28,80|30,10|29,60|31,40|31,30|32,40|32,80|34,40|36,70|38,80|39,30|39,00|40,90|41,20|
|  Lettonie|32,30|31,10|29,60|29,80|34,30|30,40|33,50|35,70|37,00|38,60|37,50|37,10|39,00|40,30|
|Luxembourg| 1,40| 1,50| 2,70| 2,80| 2,90| 2,90| 2,90| 3,10| 3,50| 4,50| 5,10| 5,40| 6,30| 9,10|
|     Malte| 0,10| 0,10| 0,20| 0,20| 0,20| 1,00| 1,90| 2,90| 3,80| 4,70| 5,10| 6,20| 7,30| 8,00|
|  Pays-Bas| 2,50| 2,80| 3,30| 3,60| 4,30| 3,90| 4,50| 4,70| 4,70| 5,40| 5,70| 5,80| 6,50| 7,40|
|  Portugal|19,50|20,80|21,90|22,90|24,40|24,20|24,60|24,60|25,70|29,50|30,50|30,90|30,60|30,30|
|     Su�de|40,70|42,40|43,90|44,70|47,90|47,00|48,20|50,20|50,80|51,90|53,00|53,40|54,20|54,60|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+

In [44]:
df.printSchema() #Regexp.place

root
 |-- Pays: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)

In [47]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_replace

# Initialisation de SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

# Création du DataFrame avec des données fictives
data = [
("Allemagne", "7,20", "8,50", "10,10", "10,10", "10,90", "11,70", "12,50", "13,60", "13,80", "14,40", "14,90", "14,90", "15,50", "16,50"),
("Autriche", "24,40", "26,30", "28,20", "28,90", "31,00", "31,20", "31,60", "32,70", "32,80", "33,70", "33,50", "33,40", "33,10", "33,40"),
("Belgique", "2,30", "2,60", "3,10", "3,60", "4,70", "5,60", "6,30", "7,20", "7,50", "8,00", "8,00", "8,70", "9,10", "9,40"),
("Bulgarie", "9,20", "9,40", "9,10", "10,30", "12,00", "13,90", "14,20", "15,80", "18,90", "18,10", "18,30", "18,80", "18,70", "20,50"),
("Chypre", "3,10", "3,30", "4,00", "5,10", "5,90", "6,20", "6,30", "7,10", "8,50", "9,20", "9,90", "9,90", "10,50", "13,90")
]

columns = ["Pays", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]

df = spark.createDataFrame(data, columns)

# Remplacer les virgules par des points pour convertir les valeurs en float
for column in df.columns[1:]:
  df = df.withColumn(column, regexp_replace(col(column), ",", "."))
  df = df.withColumn(column, col(column).cast("float"))

# Vérifier la conversion
df.printSchema()

# Afficher les données après conversion pour vérification
df.show()

# Appliquer le filtre après conversion
df_filter_2018 = df.filter(col("2018") > 30)
df_filter_2018.show()

root
 |-- Pays: string (nullable = true)
 |-- 2005: float (nullable = true)
 |-- 2006: float (nullable = true)
 |-- 2007: float (nullable = true)
 |-- 2008: float (nullable = true)
 |-- 2009: float (nullable = true)
 |-- 2010: float (nullable = true)
 |-- 2011: float (nullable = true)
 |-- 2012: float (nullable = true)
 |-- 2013: float (nullable = true)
 |-- 2014: float (nullable = true)
 |-- 2015: float (nullable = true)
 |-- 2016: float (nullable = true)
 |-- 2017: float (nullable = true)
 |-- 2018: float (nullable = true)

+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|     Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Allemagne| 7.2| 8.5|10.1|10.1|10.9|11.7|12.5|13.6|13.8|14.4|14.9|14.9|15.5|16.5|
| Autriche|24.4|26.3|28.2|28.9|31.0|31.2|31.6|32.7|32.8|33.7|33.5|33.4|33.1|33.4|
| Belgique| 2.3| 2.6| 3.1| 3.6| 4.7| 5.6| 6.3| 7.2| 7.5| 8.0| 8.0| 8.7| 9.1| 9.4|
| Bulgarie| 9.2| 9.4| 9.1|10.3|12.0|13.9|14.2|15.8|18.9|18.1|18.3|18.8|18.7|20.5|
|   Chypre| 3.1| 3.3| 4.0| 5.1| 5.9| 6.2| 6.3| 7.1| 8.5| 9.2| 9.9| 9.9|10.5|13.9|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

+--------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|    Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+--------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Autriche|24.4|26.3|28.2|28.9|31.0|31.2|31.6|32.7|32.8|33.7|33.5|33.4|33.1|33.4|
+--------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

**Comment ajoutert une niuvelle colonne "2025" avec des valeur calculer comme etant le double des valeur de 2018 ?**

In [48]:
df_with_2025 = df.withColumn("2025" , col("2018")*2)
df_with_2025.show()

+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|     Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2025|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Allemagne| 7.2| 8.5|10.1|10.1|10.9|11.7|12.5|13.6|13.8|14.4|14.9|14.9|15.5|16.5|33.0|
| Autriche|24.4|26.3|28.2|28.9|31.0|31.2|31.6|32.7|32.8|33.7|33.5|33.4|33.1|33.4|66.8|
| Belgique| 2.3| 2.6| 3.1| 3.6| 4.7| 5.6| 6.3| 7.2| 7.5| 8.0| 8.0| 8.7| 9.1| 9.4|18.8|
| Bulgarie| 9.2| 9.4| 9.1|10.3|12.0|13.9|14.2|15.8|18.9|18.1|18.3|18.8|18.7|20.5|41.0|
|   Chypre| 3.1| 3.3| 4.0| 5.1| 5.9| 6.2| 6.3| 7.1| 8.5| 9.2| 9.9| 9.9|10.5|13.9|27.8|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

**Comment trier le dataFrame par colonne "2018" en ordre decroissant?**

In [50]:
df_Dec_2018 =df.orderBy(df["2018"].desc())
df_Dec_2018.show()

+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|     Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| Autriche|24.4|26.3|28.2|28.9|31.0|31.2|31.6|32.7|32.8|33.7|33.5|33.4|33.1|33.4|
| Bulgarie| 9.2| 9.4| 9.1|10.3|12.0|13.9|14.2|15.8|18.9|18.1|18.3|18.8|18.7|20.5|
|Allemagne| 7.2| 8.5|10.1|10.1|10.9|11.7|12.5|13.6|13.8|14.4|14.9|14.9|15.5|16.5|
|   Chypre| 3.1| 3.3| 4.0| 5.1| 5.9| 6.2| 6.3| 7.1| 8.5| 9.2| 9.9| 9.9|10.5|13.9|
| Belgique| 2.3| 2.6| 3.1| 3.6| 4.7| 5.6| 6.3| 7.2| 7.5| 8.0| 8.0| 8.7| 9.1| 9.4|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

**Comment remplacer les valeur nulles dans la colonne "2018 par la moyenne des valeurs de cette colonne?**

In [52]:
from pyspark.sql.functions import avg

In [66]:
#df_null = df.fillna(df["2018"].avg())
Moy = df.select(avg(col("2018"))).first()[0]# cherche la valeur 0 du dataframe

df_val_null = df.na.fill({"2011":round(Moy)})
df_val_null.show()

+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|     Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Allemagne| 7.2| 8.5|10.1|10.1|10.9|11.7|12.5|13.6|13.8|14.4|14.9|14.9|15.5|16.5|
| Autriche|24.4|26.3|28.2|28.9|31.0|31.2|31.6|32.7|32.8|33.7|33.5|33.4|33.1|33.4|
| Belgique| 2.3| 2.6| 3.1| 3.6| 4.7| 5.6| 6.3| 7.2| 7.5| 8.0| 8.0| 8.7| 9.1| 9.4|
| Bulgarie| 9.2| 9.4| 9.1|10.3|12.0|13.9|14.2|15.8|18.9|18.1|18.3|18.8|18.7|20.5|
|   Chypre| 3.1| 3.3| 4.0| 5.1| 5.9| 6.2| 6.3| 7.1| 8.5| 9.2| 9.9| 9.9|10.5|13.9|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+